{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Book Store</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icomoon/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<script src="{% static 'js/modernizr.js' %}"></script>
</head>


<!-- {% include 'base/navbar.html' %} -->
<div id="header-wrap">
	<div class="top-content">
		<div class="container">
			<div class="row">
				<div class="top-acc-cart">
					<div class="right-element">
						<a href="#" class="user-account for-buy"><i class="icon icon-user"></i><span>Account</span></a>
						<a href="#" class="cart for-buy"><i class="icon icon-clipboard"></i><span>Cart:(0 $)</span></a>
						<div class="action-menu">
							<div class="search-bar">
								<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
									<i class="icon icon-search"></i>
								</a>
								<form role="search" method="get" class="search-box">
									<input class="search-field text search-input" placeholder="Search" type="search">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<header id="header">
		<div style="height: 35px" class="container">
			<div class="row">
				<div class="nav-cen">
					<nav id="navbar">
						<div class="main-menu stellarnav">
							<ul class="menu-list">
								<li class="menu-item active"><a href="{% url 'index' %}" data-effect="Home">Home</a></li>
								<li class="menu-item"><a href="{% url 'catalog' %}" class="nav-link" data-effect="Shop">Catalog</a></li>
								<li class="menu-item"><a href="{% url 'contact' %}" class="nav-link" data-effect="Contact">Contact</a></li>
							</ul>
							<div class="hamburger">
				                <span class="bar"></span>
				                <span class="bar"></span>
				                <span class="bar"></span>
				            </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>


<body>


<section id="billboard">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>
				<div style="margin-top:100px" class="section-header align-center">
					<h2 class="section-title">Book of the Day</h2>
				</div>
				<div style="margin-top:-50px" class="main-slider pattern-overlay">
					<div class="slider-item">
						<div class="banner-content">
							<h2 class="banner-title">Life of the Wild</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
							<div class="btn-wrap">
								<a href="single-product.html" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
							</div>
						</div>
						<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="banner" class="banner-image">
					</div>
				</div>
				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</section>


<!-- <section id="popular-books" class="bookshelf">
	<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="section-header align-center">
				<h2 class="section-title">Recommended Books</h2>
			</div>
   
			<ul class="tabs">
			  <li data-tab-target="#all-genre" class="active tab">All Genre</li>
			  <li data-tab-target="#business" class="tab">Business</li>
			  <li data-tab-target="#technology" class="tab">Technology</li>
			  <li data-tab-target="#romantic" class="tab">Romantic</li>
			  <li data-tab-target="#adventure" class="tab">Adventure</li>
			  <li data-tab-target="#fictional" class="tab">Fictional</li>
			</ul>

			<div class="tab-content">
			  <div id="all-genre" data-tab-content class="active">
			  	<div class="row">

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>The Witcher: Baptism of Fire</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Once upon a time</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 35.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Tips of simple lifestyle</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Just felt from outside</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				</div>
				<div class="row">

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Peaceful Enlightment</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Great travel at desert</h3>
								<p>Andrzej Sapkowskiy</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Life among the pirates</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Simple way of piece life</h3>
								<p>Andrzej Sapkowski</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

		    	</div>

			  </div>
			  <div id="business" data-tab-content>
			  	<div class="row">
				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Peaceful Enlightment</h3>
								<p>Marmik Lama</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Great travel at desert</h3>
								<p>Sanchit Howdy</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Life among the pirates</h3>
								<p>Armor Ramsey</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

				  	<div class="col-md-3">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Simple way of piece life</h3>
								<p>Armor Ramsey</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

		    	 </div>
			  </div>

			  <div id="technology" data-tab-content>

			  	<div class="row">
				  	<div class="col-md-1">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Peaceful Enlightment</h3>
								<p>Marmik Lama</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

			  </div>

			  <div id="romantic" data-tab-content>

			  	<div class="row">
		    	  <div class="col-md-1">
			    	  <figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Peaceful Enlightment</h3>
								<p>Marmik Lama</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

			  </div>

			  <div id="adventure" data-tab-content>

			  	<div class="row">
				  	<div class="col-md-1">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Life among the pirates</h3>
								<p>Armor Ramsey</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>

			  </div>

			  <div id="fictional" data-tab-content>

			  	<div class="row">
				  	<div class="col-md-1">
					  	<figure class="product-style">
							<img src="{% static 'images/witcher_lady-of-the-lake.jpg' %}" alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
							<figcaption>
								<h3>Life among the pirates</h3>
								<p>Armor Ramsey</p>
								<div class="item-price">$ 40.00</div>
							</figcaption>
						</figure>
					</div>
		    	 </div>

			  </div>

			</div>
		</div>
		</div>
	</div>
</section> -->


<!-- {% include 'base/scripts.html' %} -->
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>


<!-- {% include 'base/footer.html' %} -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div style="text-align: center;" class="col-md-4">
				<div class="footer-menu">
					<h5>Discover</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="{% url 'index' %}">Home</a>
						</li>
						<li class="menu-item">
							<a href="{% url 'catalog' %}">Catalog</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center;" class="col-md-4">

				<div class="footer-menu">
					<h5>My account</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Sign In</a>
						</li>
						<li class="menu-item">
							<a href="#">View Account</a>
						</li>
						<li class="menu-item">
							<a href="#">View Cart</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center;" class="col-md-4">

				<div class="footer-menu">
					<h5>Help</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="{% url 'contact' %}">Contact us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>