<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

{% include 'base/header_wrap.html' %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">            
                <div class="colored">
                    <h1 class="page-title">Search Results</h1>
                    <div class="breadcum-items">
                        <span class="item"><a href="{% url 'index' %}">Home /</a></span>
                        <span class="item colored">Search Results</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="search-container">
    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Search for a book..." id="search-field">
        <input type="submit" value="search" id="search-button">
    </form>
</div>

{% if books %}
<section class="padding-large">
	<div class="container">
		<div class="row">
			<div class="products-grid grid">

				{% for book in books %}

					<figure class="product-style">
						<img src="{{book.image}}" alt="Books" class="product-item">
						<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
						<figcaption>
							<h3>{{book.title}}</h3>
							<p>{{book.author}}</p>
							<div class="item-price">$ {{book.price}}</div>
						</figcaption>
					</figure>

				{% endfor %}

	    	</div>
		</div>
	</div>
</section>
{% else %}
    <div class="container">
        <p>No books found matching your search.</p>
    </div>
{% endif %}


{% include 'base/footer.html' %}

{% include 'base/scripts.html' %}

</body>
</html>
