<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

{% include 'base/header_wrap.html' %}


<body>


<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="../{{book.image}}" alt="single_book" style="padding: 5%; background: #EFEEE8; border: 1px solid #EAE8DF">
            </div>

            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1>{{book.title}}</h1>
                    <h2>{{book.author}}</h2>
                    <h4>{{book.genre}}</h4>

                    <p style="text-align: justify;">
                        {{book.description}}
                    </p>

                    <h2 style="text-align: center;">${{book.price}}</h2>

                    <a 
                        style="text-decoration: none"
                        href="#"
                        hx-get="{%url 'add_to_cart' book.id%}"
                        hx-target="#menu-cart-button"
                        hx-swap="outerHTML"
                    >
                        <button type="submit" name="add-to-cart" value="27545" class="btn btn-full btn-rounded">Add to cart</button>
                    </a>
                    
                </div>
            </div>

        </div>
    </div>
</section>


{% include 'base/footer.html' %}

{% include 'base/scripts.html' %}

</body>
</html>
