<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

{% include 'base/header_wrap.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
		
		
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-title">Cart</h1>
				<div class="breadcrumbs">
					<span class="item"><a href="{% url 'index' %}">Home /</a></span>
					<span class="item">Cart</span>
				</div>
			</div>
		</div>
	</div>
</section>		


<body>


<section style="margin-left: 3em;">
    <div class="container">
        <div class="row">

            <hr>

            {% for item in cart %}

                {% include 'cart_item.html' %}

            {% endfor %}

            {% include 'cart_summary.html' %}

        </div>
    </div>
</section>	
	

{% include 'base/footer.html' %}

{% include 'base/scripts.html' %}


</body>
</html>
