<div class="summary w-full w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
    <h2 class="uppercase text-lg mb-5">Summary</h2>

    <div class="mb-6 flex justify-between">
        <span>Total</span>
        <span
            hx-get="{% url 'hx_cart_total' %}"
            hx-trigger="update-menu-cart from:body"
            hx-swap="innerHTML"
        >
            {%include 'cart_total.html'%}
        </span>
    </div>

    <a href="{% url 'checkout' %}" style="text-decoration:none;"><input type="submit" value="Checkout" class="btn btn-full btn-rounded" id="btn-padding-left"></a>
</div>
