{% if item %}
<div class="product" id="cart-item-{{item.book.id}}" style="margin-top:6em">

    <div class="product-image">
        <a href="{% url 'single' item.book.title %}" class="w-1/4">
            <img src="../../website/{{item.book.image}}" class="product-image">
        </a>
    </div>

    <div class="product-title">
        <a href="{% url 'single' item.book.title %}" class="text-lg">{{item.book.title}}</a>
    </div>

    <div class="product-price">{{item.total_price}}</div>

    <div class="product-quantity">
        <a 
            style="cursor: pointer;"
            hx-get="{%url 'update_cart' item.book.id 'decrement'%}"
            hx-target="#cart-item-{{item.book.id}}"
            hx-swap="outerHTML"
        > - </a>
        <span>{{item.quantity}}</span>
        <a
            style="cursor: pointer;"
            hx-get="{%url 'update_cart' item.book.id 'increment'%}"
            hx-target="#cart-item-{{item.book.id}}"
            hx-swap="outerHTML"
        > + </a>
    </div>

    <!-- <div class="product-removal">
        <button class="remove-product">
        Remove
        </button>
    </div> -->

</div>

{% endif %}
