<footer id="footer">
	<div class="container">
		<div class="row">
			<div style="text-align: center;" class="col-md-4">
				<div class="footer-menu">
					<h5>Discover</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="{% url 'index' %}">Home</a>
						</li>
						<li class="menu-item">
							<a href="{% url 'catalog' %}">Catalog</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center;" class="col-md-4">

				<div class="footer-menu">
					<h5>My account</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Sign In</a>
						</li>
						<li class="menu-item">
							<a href="#">View Account</a>
						</li>
						<li class="menu-item">
							<a href="#">View Cart</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center;" class="col-md-4">

				<div class="footer-menu">
					<h5>Help</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="{% url 'contact' %}">Contact us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>