<div id="header-wrap">
    {% include 'base/navbar.html' %}
    {% include 'base/header.html' %}
    <div class="container">
        {%if messages%}
            {%for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</div>
