<div class="top-content">
	<div class="container">
		<div class="row">
			<div class="top-acc-cart">
				<div class="right-element">
					{%if user.is_authenticated%}
						<a href="{% url 'logout_user' %}" class="user-account for-buy"><i class="icon icon-user"></i><span>Logout</span></a>
					{%else%}
						<a href="{% url 'register_user' %}" class="user-account for-buy"><i class="fa-regular fa-address-card" style="margin-right:2px;"></i><span>Register</span></a>
						<a href="{% url 'login_user' %}" class="user-account for-buy"><i class="icon icon-user"></i><span>Login</span></a>
					{%endif%}

					{% include 'menu_cart.html' %}
					<div class="action-menu">
						<div class="search-bar">
							<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
								<i class="icon icon-search"></i>
							</a>
							<form role="search" method="get" action="{% url 'search' %}" class="search-box">
								<input class="search-field text search-input" placeholder="Search" type="search" name="q">
								<!-- <button type="submit" class="search-button">Search</button> -->
							</form>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

