<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

{% include 'base/header_wrap.html' %}


<body>

<form action="" method=POST>
    {% csrf_token %}

    <div class="form-group" id="form-group-padding-top">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <input type="submit" value="Submit" class="btn btn-full btn-rounded" id="btn-padding-left">
</form>

{% include 'base/footer.html' %}

</body>
</html>
