<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

{% include 'base/header_wrap.html' %}


<body>

{%if form.errors%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form...
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{%endif%}

<h1 style="margin-left:3%; padding-top: 3%;">Register</h1>


<form action="{%url 'register_user'%}" method=POST style="margin-left:3%">
    {% csrf_token %}

    {{form.as_p}}

    <input type="submit" value="Submit" class="btn btn-full btn-rounded" id="btn-padding-left">
</form>

{% include 'base/footer.html' %}

</body>
</html>
