{% load static %}

<style>
.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #C5A992;
}

.nav-pills .nav-link:hover {
	background-color: #c5a99246;
}
.nav-pills .nav-link.disabled {
  background-color: transparent;
}
</style>

<section id="popular-books" class="bookshelf">
	<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="section-header align-center">
				<h2 class="section-title">Recommended Books</h2>
			</div>
   
			<ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0 active" id="all-genre-tab" data-bs-toggle="tab" href="#all-genre" role="tab" aria-controls="all-genre" aria-selected="true">All Genre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="fantasy-tab" data-bs-toggle="tab" href="#fantasy" role="tab" aria-controls="fantasy" aria-selected="false">Fantasy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="technology-tab" data-bs-toggle="tab" href="#technology" role="tab" aria-controls="technology" aria-selected="false">Technology</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="romantic-tab" data-bs-toggle="tab" href="#romantic" role="tab" aria-controls="romantic" aria-selected="false">Romantic</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="adventure-tab" data-bs-toggle="tab" href="#adventure" role="tab" aria-controls="adventure" aria-selected="false">Adventure</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="fiction-tab" data-bs-toggle="tab" href="#fiction" role="tab" aria-controls="fiction" aria-selected="false">Fiction</a>
				</li>
			</ul>

			<br>

			<div class="tab-content" id="tabcontent1">

				<div class="tab-pane fade show active" id="all-genre" role="tabpanel" aria-labelledby="all-genre-tab">
					
					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="fantasy" role="tabpanel" aria-labelledby="fantasy-tab">
					
					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							{% if 'fantasy' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							{% if 'fantasy' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="technology" role="tabpanel" aria-labelledby="technology-tab">
					
					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							{% if 'technology' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							{% if 'technology' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="romantic" role="tabpanel" aria-labelledby="romantic-tab">
					
					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							{% if 'romantic' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							{% if 'romantic' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="adventure" role="tabpanel" aria-labelledby="adventure-tab">
					
					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							{% if 'adventure' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							{% if 'adventure' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="fiction" role="tabpanel" aria-labelledby="fiction-tab">

					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							{% if 'fiction' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							{% if 'fiction' in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

					</div>

				</div>

			</div>

		</div>
	</div>
	</div>
</section>
