{% load static %}

<section id="popular-books" class="bookshelf">
	<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="section-header align-center">
				<h2 class="section-title">Recommended Books</h2>
			</div>
   
			<ul class="tabs">
				<li data-tab-target="#all-genre" class="active tab">All Genre</li>
				<li data-tab-target="#business" class="tab">Business</li>
				<li data-tab-target="#technology" class="tab">Technology</li>
				<li data-tab-target="#romantic" class="tab">Romantic</li>
				<li data-tab-target="#adventure" class="tab">Adventure</li>
				<li data-tab-target="#fictional" class="tab">Fictional</li>
			</ul>

			<div class="tab-content">

			  	<div id="all-genre" data-tab-content class="active">
					
			  		<div class="row">

						{% for book in catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item" width="50px" height="50px">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

				</div>

			  	<div id="business" data-tab-content>
					<div class="row">

						{% for book in catalog %}

							{% if business in book.genre %}

								<div class="col-md-3">
									<figure class="product-style">
										<img src="{{book.image}}" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
										<figcaption>
											<h3>{{book.title}}</h3>
											<p>{{book.author}}</p>
											<div class="item-price">$ {{book.price}}</div>
										</figcaption>
									</figure>
								</div>

							{% endif %}
					
						{% endfor %}

		    	 	</div>

				</div>

			  	<div id="technology" data-tab-content>

					{% for book in catalog %}

						{% if technology in book.genre %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endif %}
				
					{% endfor %}

			  	</div>

			  	<div id="romantic" data-tab-content>

					{% for book in catalog %}

						{% if romantic in book.genre %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endif %}
				
					{% endfor %}

			  	</div>

				<div id="adventure" data-tab-content>

					{% for book in catalog %}

						{% if adventure in book.genre %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endif %}
				
					{% endfor %}

				</div>

			  	<div id="fictional" data-tab-content>

					{% for book in catalog %}

						{% if fictional in book.genre %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endif %}
				
					{% endfor %}

			 	</div>

			</div>
		</div>
		</div>
	</div>
</section>
