<section id="popular-books" class="bookshelf">
	<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="section-header align-center">
				<h2 class="section-title">Recommended Books</h2>
			</div>
   
			<ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0 active" id="all-genre-tab" data-bs-toggle="tab" href="#all-genre" role="tab" aria-controls="all-genre" aria-selected="true">All Genre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="nonfiction-tab" data-bs-toggle="tab" href="#nonfiction" role="tab" aria-controls="nonfiction" aria-selected="false">Nonfiction</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="manga-tab" data-bs-toggle="tab" href="#manga" role="tab" aria-controls="manga" aria-selected="false">Manga</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="horror-tab" data-bs-toggle="tab" href="#horror" role="tab" aria-controls="horror" aria-selected="false">Horror</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="adventure-tab" data-bs-toggle="tab" href="#adventure" role="tab" aria-controls="adventure" aria-selected="false">Adventure</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="fiction-tab" data-bs-toggle="tab" href="#fiction" role="tab" aria-controls="fiction" aria-selected="false">Fiction</a>
				</li>
			</ul>

			<br>

			<div class="tab-content" id="tabcontent1">

				<div class="tab-pane fade show active" id="all-genre" role="tabpanel" aria-labelledby="all-genre-tab">
					
					<div class="row">

						{% for book in catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

					<div class="row">

						{% for book in catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="nonfiction" role="tabpanel" aria-labelledby="nonfiction-tab">
					
					<div class="row">

						{% for book in nonfiction_catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in nonfiction_catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="manga" role="tabpanel" aria-labelledby="manga-tab">
					
					<div class="row">

						{% for book in manga_catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>

						{% endfor %}

					</div>

					<div class="row">

						{% for book in manga_catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="horror" role="tabpanel" aria-labelledby="horror-tab">
					
					<div class="row">

						{% for book in horror_catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in horror_catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="adventure" role="tabpanel" aria-labelledby="adventure-tab">
					
					<div class="row">

						{% for book in adventure_catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in adventure_catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

				</div>

				<div class="tab-pane fade" id="fiction" role="tabpanel" aria-labelledby="fiction-tab">

					<div class="row">

						{% for book in fiction_catalog|slice:"0:4" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

					<div class="row">

						{% for book in fiction_catalog|slice:"4:8" %}

							<div class="col-md-3">
								<figure class="product-style">
									<img src="{{book.image}}" alt="Books" class="product-item">
									<a href="{% url 'single' book.title %}"><button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button></a>
									<figcaption>
										<h3>{{book.title}}</h3>
										<p>{{book.author}}</p>
										<div class="item-price">$ {{book.price}}</div>
									</figcaption>
								</figure>
							</div>
					
						{% endfor %}

					</div>

				</div>

			</div>

		</div>
	</div>
	</div>
</section>
