{% load static %}

<section class="padding-large">
	<div class="container">
		<div class="row">
			<div class="products-grid grid">

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item1.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Portrait photography</h3>
						<p>Adam Silber</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item2.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Once upon a time</h3>
						<p>Klien Marry</p>
						<div class="item-price">$ 35.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item3.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Tips of simple lifestyle</h3>
						<p>Bratt Smith</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item4.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Just felt from outside</h3>
						<p>Nicole Wilson</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item5.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Peaceful Enlightment</h3>
						<p>Marmik Lama</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item6.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Great travel at desert</h3>
						<p>Sanchit Howdy</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item7.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Life among the pirates</h3>
						<p>Armor Ramsey</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

			  	<figure class="product-style">
					<img src="{% static 'images/tab-item8.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>Simple way of piece life</h3>
						<p>Armor Ramsey</p>
						<div class="item-price">$ 40.00</div>
					</figcaption>
				</figure>

				<figure class="product-style">
					<img src="{% static 'images/witcher_baptism-of-fire.jpg' %}" alt="Books" class="product-item">
					<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
					<figcaption>
						<h3>The Witcher: Baptism of Fire</h3>
						<p>Andrzej Sapkowski</p>
						<div class="item-price">$ 25.00</div>
					</figcaption>
				</figure>

	    	</div>
		</div>
	</div>
</section>