{% load static %}

<section class="padding-large">
	<div class="container">
		<div class="row">
			<div class="products-grid grid">

				{% for book in catalog %}

					<figure class="product-style">
						<img src="{{book.image}}" alt="Books" class="product-item">
						<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Read More</button>
						<figcaption>
							<h3>{{book.title}}</h3>
							<p>{{book.author}}</p>
							<div class="item-price">$ {{book.price}}</div>
						</figcaption>
					</figure>

				{% endfor %}

	    	</div>
		</div>
	</div>
</section>