<section class="contact-information padding-large mt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-0 mb-3">
				
				<h2>Get in Touch</h2>

				<div class="contact-detail d-flex flex-wrap mt-4">
					<div class="detail mr-6 mb-4">
						<p>
                            Have questions, want to provide feedback or look for more information?<br>
                            Submit your email and our representatives will follow up with you as soon as possible.<br>
                            You can call or visit us using the contact information below and we will gladly assist you.
                        </p>
						<ul class="list-unstyled list-icon">
							<li><i class="icon icon-phone"></i>1-855-230-0555</li>
							<li><i class="icon icon-envelope-o"></i><a href="mailto:info@yourcompany.com">CTUCareerServices@coloradotech.edu</a></li>
							<li><i class="icon icon-location2"></i>1575 Garden of the Gods Rd Suite 100, Colorado Springs, CO 80907</li>
						</ul>
					</div>

				</div>
			</div>

			<div class="col-md-6 p-0">
				
				<div class="contact-information">
					<h2>Send A Message</h2>
					<form name="contactform" action="contact.php" method="post" class="contact-form d-flex flex-wrap mt-4">
						<div class="row">
					    	<div class="col-md-6">
								<input type="text" minlength="2" name="name" placeholder="Name" class="u-full-width" required>
							</div>
							<div class="col-md-6">
								<input type="email" name="email" placeholder="E-mail" class="u-full-width" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">

								<textarea class="u-full-width" name="message" placeholder="Message" style="height: 150px;" required></textarea>

								<label>
								    <input type="checkbox" required>
								    <span class="label-body">I agree all the <a href="#">terms and conditions</a></span>
								</label>

								<button type="submit" name="submit" class="btn btn-full btn-rounded">Submit</button>
							</div>
						</div>
					</form>

				</div>>

			</div>

		</div>
	</div>
</section>